.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  background-size: auto;
  background-color: rgb(46, 50, 58);
  color: #ffffff !important;
  min-width: 1500px;
}

header h1 {
  font-size: 50px;
}
a,
header a {
  color: var(--accent_color);
  text-decoration: none;
}
